<div class="row">
	{% for last in lastSavonAdded %}
		<div class="col">
			<div class="card">
				<img src="{{ last.image }}" class="img-fluid" alt="">
				<div class="card-body">
					<h4 class="cartd-title">{{ last.title }}</h4>
					<p class="card-text">
						{{ last.description }}
					</p>
					<a href="#" class="btn btn-primary btn-sm">Détails</a>
					<a href="#" class="btn btn-success btn-sm">Ajouter au panier</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
